<table class="table">
  <thead>
    <tr>
      <th>Nº Estudante</th>
      <th><abbr title="Nome Completo">Nome Completo</abbr></th>
      <th><abbr title="E-mail">E-mail</abbr></th>
      <th><abbr title="Nº Telefone">Nº Telefone</abbr></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>20190002</th>
      <td>João Manuel Correia Cabanga</td>
      <td>manucabanga@gmail.com</td>
      <td>937 731 992</td>
    </tr>
    <tr>
      <th>20181485</th>
      <td>José Baptista Jamba Jeronimo</td>
      <td>josejambajeronimo@gmail.com</td>
      <td>925 668 732</td>
    </tr>

    <tr>
      <th>20099926</th>
      <td>Madalena Dias Sebastião</td>
      <td>madalenadias3@gmail.com</td>
      <td>941 114 449</td>
    </tr>
    <tr>
      <th>20181408</th>
      <td>António José Diogo Domingos</td>
      <td>enzuadiogo3@gmail.com</td>
      <td>923 084 988</td>
    </tr>

  </tbody>
</table>