
<br>
<br>
<br>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>LCC4N IMETRO 2022</strong> by <a href="<%= integrantes_path %>">Integrantes do grupo</a>
    </p>
  </div>
</footer>